.hatchWrapper{
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10rem;
    width: 10rem;
    background: rgba(0, 0, 0, .4);
    font-size: 2rem;
    text-transform: capitalize;
    position: relative;
}

.firstEmpty{
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    background: rgb(237, 237, 237);
}

.filledHatch {
    background-color: red;
}

.default{
    background: #ededed;
}
.bonus{
    background: #4a90e2;
}
.contest{
    background: rgba(248, 231, 28, 0.41);
}
.final{
    background: #efc0b0;
}

.hatchIndex {
    position: absolute;
    font-size: 4rem;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}